
<div  xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <h3 class="my-0 mr-md-auto font-weight-normal"><a th:href="@{/}">
  	eCommerce
  </a></h3>
  <nav class="my-2 my-md-0 mr-md-3">
	    <a class="p-2 text-dark" th:href="@{/registerCategory}">Categories</a>
	    <a sec:authorize="hasAnyRole('SUPER_ADMIN')" class="p-2 text-dark" th:href="@{/registerRole}">Roles</a>
	    <a sec:authorize="hasAnyRole('SUPER_ADMIN','ADMIN')" class="p-2 text-dark" th:href="@{/users}">Users</a>
 		<a sec:authorize="hasAnyRole('SUPER_ADMIN','ADMIN')" class="p-2 text-dark" th:href="@{/customers}">Customers</a>
  		<a sec:authorize="hasAnyRole('SUPER_ADMIN','ADMIN')" class="p-2 text-dark" th:href="@{/orders}">Orders</a>
  </nav>
  <a  sec:authorise="isAuthenticated()" class="btn btn-outline-primary" th:href="@{/logout}">Logout</a>
</div>
